<div class="shadowed" >
  <app-transactions></app-transactions>
</div>

<div class="updateTransaction-container">
  <div class="container-fluid py-4" style="width: 100%;">
    <div class="row" style="width: 100%;">
      <div class="col-md-8" style="width: 100%;">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
              <div style="text-align: center;">
                <h2 style="color: #d63384 !important;">Update transaction</h2>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="text-uppercase text-sm">Transaction Information</p>
            <form [formGroup]="transactionForm" (ngSubmit)="modifyTransaction()">
              <div class="form-group">
                <label for="reference">Reference</label>
                <input class="form-control mt-2" type="text" id="reference" formControlName="reference" placeholder="Reference">
              </div>

              <div class="form-group">
                <label for="destination">Destination</label>
                <input class="form-control mt-2" type="text" id="destination" formControlName="destination" placeholder="Destination (11 digits)">
              </div>

              <div class="form-group">
                <label for="source">Source</label>
                <input class="form-control mt-2" type="text" id="source" formControlName="source" placeholder="Source (11 digits)">
              </div>

              <div class="form-group">
                <label for="montant">Montant</label>
                <input class="form-control mt-2" type="number" id="montant" formControlName="montant" placeholder="Montant">
              </div>

              <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control mt-2" id="type" formControlName="type">
                  <option selected disabled>Select Type</option>
                  <option value="company">Company</option>
                  <option value="employee">Employee</option>
                  <option value="university">University</option>
                </select>
              </div>

              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control mt-2" id="description" formControlName="description" rows="3" placeholder="Description"></textarea>
              </div>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="validation" formControlName="validation">
                <label class="form-check-label" for="validation">Validation</label>
              </div>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="cancelBysender" formControlName="cancelBysender">
                <label class="form-check-label" for="cancelBysender">Cancel by sender</label>
              </div>

              <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="cancelByreceiver" formControlName="cancelByreceiver">
                <label class="form-check-label" for="cancelByreceiver">Cancel by receiver</label>
              </div>

              <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-primary btn-sm" style="width: 160px;">Update Transaction</button>

              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
