<div class="container">
    <h2>Add Credit</h2>
    <div class="form-container">
      <form (submit)="submitForm()">
        <div class="form-group">
          <label for="creditType">Credit Type</label>
          <select id="creditType" [(ngModel)]="creditType" name="creditType">
            <option *ngFor="let type of creditTypes" [value]="type">{{ type }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="creditStatus">Credit Status</label>
          <select id="creditStatus" [(ngModel)]="creditStatus" name="creditStatus">
            <option *ngFor="let status of creditStatuses" [value]="status">{{ status }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="creditAmount">Credit Amount</label>
          <input type="number" id="creditAmount" [(ngModel)]="creditAmount" name="creditAmount" required>
        </div>
        <div class="form-group">
          <label for="creditDuration">Credit Duration</label>
          <input type="number" id="creditDuration" [(ngModel)]="creditDuration" name="creditDuration" required>
        </div>
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" [(ngModel)]="firstname" name="firstname" required>
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" [(ngModel)]="lastname" name="lastname" required>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" id="location" [(ngModel)]="location" name="location" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-pink">Submit</button>
          <button type="button" class="btn btn-pink" (click)="resetForm()">Reset</button>
        </div>
        <a class="btn btn-outline-primary btn-sm mb-0" routerLink="/Credit">Return to Credit</a> 

        <a class="btn btn-outline-primary btn-sm mb-0 me-3" routerLink="/contract">Contract</a> 
      </form>
    </div>
  </div>
  