<footer class="footer pt-3  ">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6 mb-lg-0 mb-4">
        <div class="copyright text-center text-sm text-muted text-lg-start">
          © <script>
            document.write(new Date().getFullYear())
          </script>
          made by
          <a  class="font-weight-bold" target="_blank">MF-Bank Team</a>
          for a better online banking experience.
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link text-muted" target="_blank">E-Bank Team</a>
          </li>
          <li class="nav-item">
            <a routerLink="/home" class="nav-link text-muted" target="_blank">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
