<app-base></app-base>
<div class="users container-fluid py-4">
  <div style="margin-bottom: 5px;">
    <a class="btn btn-outline-primary btn-sm mb-0 me-3" routerLink="/addUser" >Add User</a>
  </div>
<div class="col-12">
  <div class="card mb-4">
      <div class="card-header pb-0">
          <div class="d-flex justify-content-between align-items-center">

              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search...">
                  <button class="btn btn-outline-secondary" type="button">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
          </div>
      </div>

  </div>
</div>
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Users</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Firstname</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lastname</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                <th class="text-secondary opacity-7"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="d-flex px-2 py-1">
                    <div class="d-flex flex-column justify-content-center">
                      <h6 class="mb-0 text-sm">John</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-xs font-weight-bold mb-0">Michael</p>
                </td>
                <td class="align-middle text-center text-sm">
                  <span class="badge badge-sm bg-gradient-success">Online</span>
                </td>
                <td class="align-middle text-center">
                  <span class="text-secondary text-xs font-weight-bold">23/04/18</span>
                </td>
                <td class="align-middle">
                  <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                    <i class="fas fa-pencil-alt"></i>
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


<app-footer></app-footer>

</div>
