<app-base></app-base>
<div class="accountManagement">
  <div class="main-content position-relative bg-gray-100 max-height-vh-100 h-100">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg bg-transparent shadow-none position-absolute px-4 w-100 z-index-2">
      <div class="container-fluid py-1">
        <nav aria-label="breadcrumb">

          <h6 class="text-white font-weight-bolder ms-2"></h6>
        </nav>
     
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid" >
      <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('../assets/img/curved-images/curved0.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
        <div class="container-fluid py-4">
          <div class="row">
           <div class="col-12 col-xl-12">
            <div class="card h-100">
             <div class="card-header pb-0 p-0.3">
               <div class="row">
                <div class="row justify-content-center"></div>
                 <div class="col-md-8 d-flex align-items-center justify-content-center">
                   <h6 class="mb-0">ACCOUNT INFORMATION</h6>
                 </div>
                 
                 <div class="col-md-12 text-end">
                   <a href="javascript:;">
                     <i class="fas fa-user-edit text-secondary text-sm ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Account" routerLink="/updateAccount"></i>
                 </a>
                 </div>
               </div>
             </div>
             <div class="card-body p-3">
                <hr class="horizontal gray-light my-4">
               <ul class="list-group">
                 <li class="list-group-item border-0 ps-2 pt-0 text-sm" style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">titulaire:</strong> &nbsp; </li>
                 <li class="list-group-item border-0 ps-2 text-sm " style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">employeeUsername:</strong> &nbsp; </li>
                 <li class="list-group-item border-0 ps-2 text-sm" style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">account_balance:</strong> &nbsp; </li>
                 <li class="list-group-item border-0 ps-2 pt-0 text-sm" style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">creation_date:</strong> &nbsp; Alec M. Thompson</li>
                 <li class="list-group-item border-0 ps-2 text-sm " style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">activated:</strong> &nbsp; (44) 123 1234 123</li>
                 <li class="list-group-item border-0 ps-2 text-sm" style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">deactivation_date:</strong> &nbsp; alecthompson@mail.com</li>
                 <li class="list-group-item border-0 ps-2 text-sm " style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">type:</strong> &nbsp; (44) 123 1234 123</li>
                 <li class="list-group-item border-0 ps-2 text-sm" style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">negativeSoldeAllowed:</strong> &nbsp; alecthompson@mail.com</li>
                 <li class="list-group-item border-0 ps-2 pt-0 text-sm" style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">negativeSoldeAmount:</strong> &nbsp; Alec M. Thompson</li>
                 <li class="list-group-item border-0 ps-2 text-sm " style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">negativeSoldeDepassement:</strong> &nbsp; (44) 123 1234 123</li>
                 <li class="list-group-item border-0 ps-2 text-sm" style="background-color: rgba(255, 255, 255, 0.5);"><strong class="text-dark">negativeSoldeDepassementDay:</strong> &nbsp; alecthompson@mail.com</li>
 
 
               </ul>
 
             </div>
           </div>
         </div>
 
 
       </div>
 
     </div>
      </div>
      
    </div>
  
   

  </div>
</div>

