<div class="shadowed" (click)="navigateToupdate()">
  <app-account-management></app-account-management>
  </div>
  <div class="updateAccount-container">

    <div class="container-fluid py-4" style="width: 100%;">
      <div class="row" style="width: 100%;">
        <div class="col-md-8" style="width: 100%;">
          <div class="card">
            <div class="card-header pb-0">
              <div class="d-flex align-items-center">
                <div style="text-align: center;">
                  <h2 style="color: #d63384 !important;"> Update Account</h2>

              </div>
              </div>
            </div>
            <div class="card-body">

              <form>

              <div id="employeeForm">

                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="fname">accountNumber</label>
                    <input type="number" id="fname" class="form-control">
                  </div>
                 
                </div>

                  <div class="row form-group">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <label class="text-black" for="fname">account_balance</label>
                      <input type="text" id="fname" class="form-control">
                    </div>
                    <div class="col-md-6">
                      <label class="text-black" for="lname">negativeSoldeAmount</label>
                      <input type="text" id="lname" class="form-control">
                    </div>
                  </div>

                  <div class="row form-group">

                    <div class="col-md-12">
                      <label class="text-black" for="email">negativeSoldeDepassement</label>
                      <input type="email" id="email" class="form-control">
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-12">
                      <label class="text-black" for="fname">negativeSoldeDepassementDay</label>
                      <input type="text" id="fname" class="form-control">
                    </div>
                   
                  </div>

                 
              </div>

               <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-primary btn-sm " style="width: 160px; ">Update Profile</button>
            </div>

            </form>

            </div>

          </div>

        </div>
      </div>
      </div>

  </div>
