<div class="shadowed" (click)="navigateToBankAcc()">
  <app-bank-account></app-bank-account>
</div>

<div class="addB-container">
  <div class="container-fluid py-0" style="width: 100%;">
    <div class="row" style="width: 100%;">
      <div class="col-md-8" style="width: 100%;">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">
              <div style="text-align: center;">
                <h2 style="color: #d63384 !important;">Add a new Bank Account</h2>
              </div>
            </div>
          </div>


          <div class="card-body">
            <p class="text-uppercase text-sm">Bank Account Information</p>
            <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
              <div id="employeeForm">
                <div class="row form-group">
                  <div class="col-md-6">
                    <label class="text-black" for="titulaire">Username</label>
                    <select id="titulaire" name="titulaire" formControlName="titulaire" class="form-control">
                      <option [selected] disabled>Choose a User</option>
                      <option *ngFor="let user of users" [value]="user.userName">{{user.prenom}} {{user.nom}}</option>
                    </select>
                  </div>

                  <div class="col-md-6">
                    <label class="text-black">Type : </label>
                    <select id="type" name="accountType" formControlName="type" class="form-control">
                      <option [value]="TypeBankAccount.currentAccount" [selected]>Current Account</option>
                      <option [value]="TypeBankAccount.savingsAccount">Savings Account</option>
                    </select>
                    <div *ngIf="accountForm.get('type')?.errors?.['required']" class="text-danger">Bank account type is required.</div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="account_balance">Account Balance</label>
                    <input type="number" id="account_balance" class="form-control" formControlName="account_balance">
                    <div *ngIf="accountForm.get('account_balance')?.invalid && (accountForm.get('account_balance')?.dirty || accountForm.get('account_balance')?.touched)" class="text-danger">
                      <div *ngIf="accountForm.get('account_balance')?.errors?.['required']">Account balance is required.</div>
                      <div *ngIf="accountForm.get('account_balance')?.errors?.['negativeBalance']">Account balance is below 0.</div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <div class="col-md-12">
                    <label class="text-black" for="negativeSoldeDepassementDay">Negative Solde Depassement Day</label>
                    <input type="date" id="negativeSoldeDepassementDay" class="form-control" formControlName="negativeSoldeDepassementDay">
                  </div>
                </div>
              </div>
              <div style="display: flex; justify-content: center;">
                <button type="submit" class="btn btn-primary btn-sm " style="width: 160px;">Add</button>
              </div>
            </form>
          </div>

          
        </div>
      </div>
    </div>

  </div>
