<app-base></app-base>
<div class="credit container-fluid py-4">

  <div style="margin-bottom: 5px;">
    <a class="btn btn-outline-primary btn-sm mb-0 me-3" routerLink="/addCredit" >Add Credit</a>
    <a class="btn btn-outline-primary btn-sm mb-0 me-3" routerLink="/AffichageCredit">Display Credits</a> 
    <a class="btn btn-outline-primary btn-sm mb-0 me-3" routerLink="/calculate">Calculate Credit</a> 
        <a class="btn btn-outline-primary btn-sm mb-0 me-3" routerLink="/statistic">show statistic</a> 
  </div>

</div>
