<div class="shadowed" (click)="navigateToupdateIT()">
    <app-internationaltransfer-management></app-internationaltransfer-management>
    </div>
    <div class="updateinternationalT-container">
  
      <div class="container-fluid py-4" style="width: 100%;">
        <div class="row" style="width: 100%;">
          <div class="col-md-8" style="width: 100%;">
            <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <div style="text-align: center;">
                    <h2 style="color: #d63384 !important;"> Update international transfer</h2>
  
                </div>
                </div>
              </div>
              <div class="card-body">
  
                <form>
  
                <div id="employeeForm">
  
                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="id">id</label>
                        <input type="number" id="fname" class="form-control">
                      </div>
                      <div class="col-md-6">
                        <label class="text-black" for="objectofTransaction">objectofTransaction</label>
                        <input type="text" id="lname" class="form-control">
                      </div>
                      
                    </div>
                    <div class="col-md-6">
                        <label class="text-black" for="status">status</label>
                        <input type="text" id="lname" class="form-control">
                      </div>

                
  
                    
  
                    
  
                   
                </div>
  
                 <div style="display: flex; justify-content: center;">
                  <button type="submit" class="btn btn-primary btn-sm " style="width: 160px; ">Update Profile</button>
              </div>
  
              </form>
  
              </div>
  
            </div>
  
          </div>
        </div>
        </div>
  
    </div>
  
